__pycache__/
*.py[cod]
.venv/
.env
books
dump.rdb
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
API/API Logs/dfs
API/API Logs/sgp
DFS/DFS Logs
SGP/SGP Logs
*.log
Settings/auth_tokens.json
DFS/t.py
DFS/chalkboard.py