__pycache__/
*.py[cod]
.venv/
venv/
.env
dump.rdb
celerybeat-schedule.db
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
API/API Logs/dfs
API/API Logs/sgp
DFS/DFS Logs
SGP/SGP Logs
*.log
DFS/chalkboard.py
Internal_Docs/
Settings/Auth_Automation/Logs/
SGP/Test/SGP Logs/
Redis/certs/ca.crt
Prediction/


.idea/
Future_Implementation/